# Dependencies
node_modules/

# Environment variables — NEVER commit these
.env
.env.local
.env.production
.env.example
credentails.json
# Uploaded files (user data — don't commit)
uploads/

# MongoDB local data
mongodata/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
